body {
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 30%;
    margin: auto;
    margin-right: auto;
    margin-top: 15%;
    border: 2px solid black;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.quote-author {
    margin: auto;
    margin-right: auto;
}

img {
    height: 40px;
    width: 40px;
    margin-left: 20px;
    padding-bottom: 20px;
}

#new-quote {
    float: right;
    border-radius: 6px;
    margin-right: 20px;
    height: 40px;
    width: 100px;
    color: whitesmoke;
    font-size: 16px;
}

#text, #author {
    font-size: 25px;
    margin-left: 20px;
    margin-right: 20px;
}

#author {
    margin-top: 15px;
    font-weight: bold;
}
