body {
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 50%;
    margin: auto;
    margin-right: auto;
    margin-top: 15%;
    border: 2px solid black;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.quote-author {
    margin: auto;
    margin-right: auto;
}

img {
    height: 30px;
    width: 30px;
}

#new-quote {
    float: right;
}
